In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
path='E:\Exide_Data\client_aju.xlsx'

In [3]:
df=pd.read_excel(r'E:\Exide_Data\client_aju.xlsx')

In [4]:
df.head(10)

,Date,Particulars,Consignee/Buyer,Address,PHONE NUMBER,Voucher No.,Narration,Quantity,Unnamed: 8
0,2019-05-17,Aadhya Agencies,FEY0-EY700,"Kozhakattu Building, Kaviyoor P O, Thiruvalla,...",9847299299,275,SL NO:A4C9A029694,1.0,NaN
1,2019-05-17,FEY0-EY700,NaN,NaN,NaN,NaN,NaN,1.0,NaN
2,2019-05-17,Aadhya Agencies,LUMINOUS ECO VOLT 1050 VA,"Kozhakattu Building, Kaviyoor P O, Thiruvalla,...",9847299299,844,SL.NO.16JB05C1275957 EP 11099,1.0,NaN
3,2019-05-17,LUMINOUS ECO VOLT 1050 VA,NaN,NaN,NaN,NaN,NaN,1.0,NaN
4,2019-05-17,Aadhya Agencies,FML0-ML38B20L,"Kozhakattu Building, Kaviyoor P O, Thiruvalla,...",9847299299,1257,SL NO:A4I9B054897,1.0,NaN
5,NaT,FML0-ML38B20L,NaN,NaN,NaN,NaN,NaN,1.0,NaN
6,2018-02-06,AAKRUTI THE FASHION ZONE,FMI0-MREDDIN60,"SHOP NO 47 GROUND FLOOR, REVENUE TOWER, THIRUV...",NaN,1379,SL NO:A2A8A023327 EP 9194,1.0,NaN
7,NaT,FMI0-MREDDIN60,NaN,NaN,NaN,NaN,NaN,1.0,NaN
8,2018-01-20,ABG ENGINEERING INDIA PRIVATE LIMITED,FMI0-MRED105D31L,THIRUVALLA,9497107169,1275,SL NO:A2I7C014299 -KL 27 C 5200- 25 % Pro rat...,1.0,NaN
9,NaT,FMI0-MRED105D31L,ABG ENGINEERING INDIA PRIVATE LIMITED,NaN,NaN,NaN,NaN,1.0,NaN

In [ ]:
df.describe(include='object')

In [ ]:
print(df.dtypes())

In [ ]:
df.info()

In [ ]:
df.dtypes

In [ ]:
df['Narration'].np.split

In [9]:
df_subset = df[df['Narration'].str.contains('EP')] #subselecting the data frame.
df_subset

,Date,Particulars,Consignee/Buyer,Address,PHONE NUMBER,Voucher No.,Narration,Quantity,Unnamed: 8
2,2019-05-17,Aadhya Agencies,LUMINOUS ECO VOLT 1050 VA,"Kozhakattu Building, Kaviyoor P O, Thiruvalla,...",9847299299,844,SL.NO.16JB05C1275957 EP 11099,1.0,NaN
6,2018-02-06,AAKRUTI THE FASHION ZONE,FMI0-MREDDIN60,"SHOP NO 47 GROUND FLOOR, REVENUE TOWER, THIRUV...",NaN,1379,SL NO:A2A8A023327 EP 9194,1.0,NaN
16,2019-02-14,ABG ENGINEERING INDIA PRIVATE LIMITED,FMT0-MTREDDIN74,THIRUVALLA,9497107169,2459,SL NO:A2K8C002088 EP 9952,1.0,NaN
20,2017-10-21,ABHILASH KOITHOTTATHU SUKUMARAN,FMI0-MRED700L,"KOITHOTTATHU (H), NIRANAM PO, THIRUVALLA# 9447...",9447462427,693,SL NO:A3F7G061553 EP 1770-KL 27 E 6377,1.0,NaN
30,2015-04-04,AISWARYA BATTERY HOUSE,.FMIO-MIDIN 44(VS),"ERAVIPEROOR, 9446911469",9446911469,A/15-16/0003,"SRL NO:A435E0220121,A435E0220121 EP 236 SAJITH",2.0,NaN
...,...,...,...,...,...,...,...,...,...
23775,2017-04-03,.]A B G Enginering Pvt Ltd,.FMIO-MRED105D31L(VS),"Thiruvalla, KL 27 D 9797",9747899868,B17180006,SL NO A2C7C029740 EP 752,1.0,NaN
23777,2017-05-03,.]A B G Enginering Pvt Ltd,.FXPO-XP1300(VS),"Thiruvalla, 9497107169",9747899868,B17180160,SL NO.A1A7C316168 EP 752,1.0,NaN
23779,2017-06-16,.]A B G Enginering Pvt Ltd,.FXPO-XP880(VS),Thiruvalla,9747899868,B17180440,A3E7D01319 EP 752,1.0,NaN
23787,2016-06-30,]Pals Tekno,.CT 500 JF(VS),"Changanacherry, 9400231957",NaN,A/16-17/0068,SL NO-ISH020807069925 EP 140,1.0,NaN
23793,2017-02-03,]Pals Tekno,.FMIO-MRED35R(VS),"Changanacherry, 9400231957",NaN,A/16-17/01807,SL NO A4A7B006931 EP 140,1.0,NaN

In [7]:
df.dropna(subset=['Narration'],axis=0,inplace=True)
df

,Date,Particulars,Consignee/Buyer,Address,PHONE NUMBER,Voucher No.,Narration,Quantity,Unnamed: 8
0,2019-05-17,Aadhya Agencies,FEY0-EY700,"Kozhakattu Building, Kaviyoor P O, Thiruvalla,...",9847299299,275,SL NO:A4C9A029694,1.0,NaN
2,2019-05-17,Aadhya Agencies,LUMINOUS ECO VOLT 1050 VA,"Kozhakattu Building, Kaviyoor P O, Thiruvalla,...",9847299299,844,SL.NO.16JB05C1275957 EP 11099,1.0,NaN
4,2019-05-17,Aadhya Agencies,FML0-ML38B20L,"Kozhakattu Building, Kaviyoor P O, Thiruvalla,...",9847299299,1257,SL NO:A4I9B054897,1.0,NaN
6,2018-02-06,AAKRUTI THE FASHION ZONE,FMI0-MREDDIN60,"SHOP NO 47 GROUND FLOOR, REVENUE TOWER, THIRUV...",NaN,1379,SL NO:A2A8A023327 EP 9194,1.0,NaN
8,2018-01-20,ABG ENGINEERING INDIA PRIVATE LIMITED,FMI0-MRED105D31L,THIRUVALLA,9497107169,1275,SL NO:A2I7C014299 -KL 27 C 5200- 25 % Pro rat...,1.0,NaN
...,...,...,...,...,...,...,...,...,...
23783,2016-05-12,]Pals Tekno,.FIB0-IB880(VS),"Changanacherry, 9400231957",NaN,A/16-17/0027,ep 140,4.0,NaN
23785,2016-06-25,]Pals Tekno,.CT 500 JF(VS),"Changanacherry, 9400231957",NaN,A/16-17/0061,SL NO 140,1.0,NaN
23787,2016-06-30,]Pals Tekno,.CT 500 JF(VS),"Changanacherry, 9400231957",NaN,A/16-17/0068,SL NO-ISH020807069925 EP 140,1.0,NaN
23789,2017-01-11,]Pals Tekno,.CT 500 JF(VS),"Changanacherry, 9400231957",NaN,A/16-17/01787,SL NO 3WH050909007042,1.0,NaN
23793,2017-02-03,]Pals Tekno,.FMIO-MRED35R(VS),"Changanacherry, 9400231957",NaN,A/16-17/01807,SL NO A4A7B006931 EP 140,1.0,NaN

In [ ]:
df_subset

In [ ]:
df_subset['Narration']

In [59]:
df_subset['Narration']

2                        SL.NO.16JB05C1275957  EP 11099
6                            SL NO:A2A8A023327  EP 9194
16                           SL NO:A2K8C002088  EP 9952
20              SL NO:A3F7G061553  EP 1770-KL 27 E 6377
30       SRL NO:A435E0220121,A435E0220121 EP 236 SAJITH
                              ...
23775                          SL NO A2C7C029740 EP 752
23777                          SL NO.A1A7C316168 EP 752
23779                               A3E7D01319   EP 752
23787                      SL NO-ISH020807069925 EP 140
23793                          SL NO A4A7B006931 EP 140
Name: Narration, Length: 6269, dtype: object

In [ ]:
df_subset.to_Excel('E')

In [104]:
df_subset.to_excel(r'E:\Exide_Data\Sub_set1.xlsx', index = True)

In [103]:
df_subset['new']=df_subset['Narration'].str.extract('(EP.*)',expand=False)
df_subset['new']

<ipython-input-103-cebd05ca16f8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['new']=df_subset['Narration'].str.extract('(EP.*)',expand=False)

2                    EP 11099
6                     EP 9194
16                    EP 9952
20       EP 1770-KL 27 E 6377
30              EP 236 SAJITH
                 ...
23775                  EP 752
23777                  EP 752
23779                  EP 752
23787                  EP 140
23793                  EP 140
Name: new, Length: 6269, dtype: object

In [ ]:
df['NL']=df_subset['Narration'].str.split()
df['NL']

In [ ]:
for i in df['NL']:
    print(i)

In [ ]:
df['Narration-1'] = df['Narration'].astype(str)

In [ ]:
df['N2'] = df['Narration-1'].str.split('EP ', 1).str[-1].str.strip()

In [ ]:
df['N2'] = df['Narration'].str.extract('([EP]+)', expand=False).str.strip()

In [ ]:
df['N2']

In [ ]:
df['Narration-1']